
.icon-fontellospin1:before { content: '\e804'; } /* '' */
.icon-fontellospin2:before { content: '\e801'; } /* '' */
.icon-fontellosearch-1:before { content: '\e805'; } /* '' */
.icon-fontellopicture:before { content: '\e802'; } /* '' */
.icon-fontellopin:before { content: '\e806'; } /* '' */
.icon-fontellomove:before { content: '\e807'; } /* '' */
.icon-fontellozoom-in:before { content: '\e808'; } /* '' */
.icon-fontellozoom-out:before { content: '\e809'; } /* '' */
.icon-fontellosearch:before { content: '\e800'; } /* '' */
.icon-fontellolocation:before { content: '\e803'; } /* '' */